* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Source Sans 3', sans-serif;
}

body {
  background-color: rgb(244, 220, 216);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

header {
  margin: 1.5rem 0;
}

header img {
  max-width: 25vw;
  margin: auto;
  display: block;
}

nav {
  margin: 0.5rem 0;
  background-color: #7dc993
}

nav ul {
  display: inline-block;
  text-align: center;
  vertical-align: -webkit-baseline-middle;
}

nav img {
  vertical-align: middle;
  padding: 0.5rem 0 0.5rem 1rem;
  max-width: 5rem;
}

nav li {
  display: inline-block;
  font-size: 2rem;
  margin: 1rem 2rem;
}

li a {
  text-decoration: none;
}

section {
  display: flex;
  max-width: 90vw;
  margin: 1.5rem auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

article {
  flex: 1;
  border-radius: 1.5rem;
  padding: 1rem;
}

#promotion {
  height: 40vh;
}

#promotion article {
  background-image: url("/artworks/wepik-export-20230630211941Ari6.png");
  background-color: #FF7F6B;
  max-height: 100%;
  background-size: 100%;
  border-radius: 2rem;
  padding: 1rem;
}

#services article {
  max-width: 30%;
  background-color: #D0604C;
  text-align: center;
  min-width: 350px;
  min-height: fit-content;
  margin: 1rem 0;
}

#services img {
  width: 90%;
  margin: 1rem auto;
  display: block;
  overflow-clip-margin: content-box;
  overflow: clip;
  border-radius: 1rem;
}

footer {
  display: flex;
  max-width: 90vw;
  margin: 2rem auto;
}

footer img {
  max-width: 10rem;
}

footer div {
  flex: 1;
}

footer p {
  color: #9E3323;
  text-decoration: overline;
}

/* #e1bbc8 */

@media screen and (max-width: 1273px) {
  #services article {
    max-width: 45%;
  }
}

@media screen and (max-width: 1028px) {
  #promotion article {
    background-image: none;
  }
}

@media screen and (max-width: 900px) {
  #services article {
    min-width: 80vw;
    max-width: 100%;
  }

  nav img, ul, li {
    display: block !important;
    margin: auto !important;
  }
}